//------------------------------
// BRANDING COLOR VARIABLES
//
// primary: primary brand color
// secondary: secondary brand color
// success: generally some sort of green that fits with your color palette
// danger: generally some sort of red to indicate danger
//------------------------------

// Primary color of your brand (Used for primary buttons, glows, etc.)
$brand-primary: #ab0520;

// Secondary color of your brand (used for secondary buttons)
$brand-secondary: #003366;

// Success Buttons
$brand-success: rgb(46, 204, 113);

// Danger/Negative Buttons
$brand-danger: #E79900;

// Black
$black: #2d2d2d;

// --------------
// Colors used for social auth
// --------------

// Facebook Color
$facebook-blue: #001C48;

// Github Gray
$github-gray: #e4e4e4;

// ===============================================================================

//------------------------------
// FONT MIXINS
//
// Change the default fonts.
// font-stack: base fonts
// logo-font: font for the logo
//
// To use fonts other than Lato/Montserrat, edit client/app.html to include
// the appropriate fonts.
//------------------------------

// Styling for the fonts
@mixin font-stack(){
  font-family: 'Milo OT','Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
}

@mixin logo-font(){
  font-family: 'Milo OT' ,'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 700;
}

// ===============================================================================

//------------------------------
// IMAGE BRANDING
//
// Set branding here by changing up the color of text and the background images
// or background color.
//------------------------------

// The splash is the login page.
#splash {

  // There are a few defaults that are here, which you can comment/uncomment,
  // but you should feel free to change this to whatever you want.

  // Font color
  color: white;

  // Basic white text on brand color:
  // background: $brand-primary;

  // Single background image covering the entire page
  // background: url(/assets/images/background.jpg) no-repeat center center;
  // background-size: cover;

  // Background image that repeats
  background: url("http://i.imgur.com/VGQbj1I.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


// Banner which appears under the nav, and on each page.
#banner {
  // Font color
  color: white;

  // Single background image covering
   //background: url("http://i.imgur.com/UydvpPM.png") no-repeat center center;
  // background-size: cover;

  // Basic white on brand color:
  //background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  //background-blend-mode: normal, lighten, soft-light;

  // Repeated Background:
  //background: url("http://i.imgur.com/QB0dYH4.png") repeat center center fixed;

  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

}

// Footer, which appears on each page.
footer {
  color: darken(white, 25%);
}