#splash {
  height: 100%;
  width: 100%;
  color: white;

  >.container {
    @include vertical-align();
    button {
      margin: 0 auto;
    }

    .header,
    .subheader {
      text-align: center;
    }

    .subheader {
      font-size: 2em;
      margin-bottom: .5em;
      font-weight: bold;

    }

    .header {
      @include logo-font();
      font-size: 4em;
      //letter-spacing: .2em;
      line-height: 1.03;
    }

    #login {
      max-width: 320px;
      margin: 0 auto;
    }

  }

}
