<template name="userStats">
  <div class="userStats">
    <div class="ui top attached tertiary header segment">
      <strong>
        Student and Tutor Summaries
      </strong>
    </div>
    <div class="ui bottom attached segment">

      <div>
        Total Students Logged in:
        <strong>
        {{ users.length }}
        </strong>
      </div>
      <div>
        Total Active Tutors:
        <strong>
          {{ tutors.length }}
        </strong>
      </div>
      <div>
        Total Tickets submitted:
        <strong>
          {{ ticketCount }}
        </strong>
      </div>

      <br>

      <p>
        Out of <strong>{{users.length}}</strong> students,
        <strong>{{activeUsers}}</strong> have submitted tickets this semester.
      </p>

      <p>
        Out of <strong>{{tutors.length}}</strong> total tutors,
        <strong>{{activetutors}}</strong> have completed tickets this semester.
      </p>

      <h4 class="ui dividing header">Frequent Subjects and Totals</h4>

      <div class="ui labels">
        {{#each wordFreqs}}
          <div class="ui label">
            {{word}} {{count}}
          </div>
        {{/each}}
      </div>


    </div>
  </div>
</template>