<template name="ticket">
  <div class="animated flipInX
              ui fluid card ticket {{#if statusIs 'CLAIMED'}}claimed{{/if}}">
    <div class="content">
      {{#if userIs 'admin'}}
        <i class="right floated red remove link cancel button icon"></i>
      {{/if}}
      <div class="header">
        {{#if name }}
          {{name}}
        {{else}}
          Somebody
        {{/if}}
      </div>
      <div class="meta">
        <div class="date">
          {{fromNow}}
        </div>
      </div>

      <div class="description">

        {{#if topic}}
            <strong> Subject: </strong>
          {{topic}}
        {{else}}
          something.
        {{/if}}

        <br>
          <strong> Table:  </strong>
        {{location}}

      </div>

      <strong> Contact: </strong>
      {{contact}}
    </div>
    <div class="extra content">
      {{#if statusIs "OPEN"}}

        {{#if ownsTicket}}
          <div class="right floated author">
            This is you!
          </div>
        {{else}}

          {{#if hasClaimedTicket}}
            <button class="disabled primary fluid push button claim">Claim Ticket</button>
          {{else}}
            <button class="primary fluid push button claim">Claim Ticket</button>
          {{/if}}

        {{/if}}
      {{/if}}

      {{#if statusIs "CLAIMED"}}
        {{#if claimer}}
          <button class="fluid success push button complete">COMPLETE TICKET</button>
          <button class="fluid primary push button reopen">REQUEUE</button>
        {{else}}
          <div class="right floated author">
            {{claimName}} will help you out.
          </div>
        {{/if}}
      {{/if}}

    </div>

  </div>
</template>